<!DOCTYPE HTML>
<html>
	<head>
		<title> SkyNova Project </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link rel="icon" href="{{ url_for('static', filename='images/DroneIcon.png') }}">			
		<link rel="stylesheet" type="text/css "href="{{ url_for('static', filename='css/mainE.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='css/noscript.css') }}" /></noscript>
	</head>
	<body class="is-preload landing">
		<div id="page-wrapper">
			<header id="header">
				<h1 id="logo"><a href="/indexES">SkyNova</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/contactsES">Contacto</a></li>						
						<li class="hov"><a>Más información</a>
							<ul>
								<li><a href="/benefitsES">Beneficios</a></li>	
								<li><a href="/hiwES">Script</a></li>
								<li><a href="/softwareES">Software</a></li>	
								<li><a href="/modelsES">Modelos</a></li>								
							</ul>
						</li>
						
						<li class="hov"><a>Idioma</a>
							<ul>
								<li><a href="/software"><img src="{{ url_for('static', filename='images/country_flag/union-jack-1027898_640.png') }}" class="photos" alt="flag"> English</a></li>
								<li><a href="/softwarePL"><img src="{{ url_for('static', filename='images/country_flag/poland-26125_640.png') }}" class="photos" alt="flag"> Polski</a></li>
								<li><a href="/softwareES"><img src="{{ url_for('static', filename='images/country_flag/spain-28530_640.png') }}" class="photos"alt="flag2"> Español</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</p>
			</header>
		
				<section id="banner">
					<div class="content">
						<header>
							<h2>Software</h2>
							<p>¿Cómo se ve desde atrás?</p>
						</header>
						
					</div>
					<a href="#one" class="goto-next scrolly">Next</a>
				</section>

			<!-- One -->
			<section id="one" class="spotlight style1 bottom">
					
				<span class="image fit main"><img src="{{ url_for('static', filename='images/kod.jpg') }}" alt="" /></span>
				<div class="content">
					<div class="container">
						<div class="row">
							<div class="soft">
								
								<div class="col-4 col-12-medium">
									<h2>Estructura del servidor</h2>
									<p>El servidor se ha implementado en un microordenador o microcontrolador, dando la posibilidad de utilizar plataformas como Raspberry Pi, Arduino u otros dispositivos compatibles con el Socket. Proyecto IO. La estructura del servidor se basa en el archivo server. py, que es el enlace central conectado a la base de datos. Del mismo modo, client. py, una aplicación de Flask que también se integra con la base de datos, crea una página cliente dedicada usando Flask y el motor de plantillas. El proceso de generar una página cliente permite al cliente verla compartiendo un servidor local usando la aplicación ngrok.</p>
								</div>
								
							</div>
							
						</div>
					</div>
				</div>
				<a href="#two" class="goto-next scrolly">Next</a>
			</section>

			<!-- Two -->
				<section id="two" class="spotlight style1 bottom">
					<span class="image fit main"><img src="{{ url_for('static', filename='images/kod.jpg') }}" alt="" /></span>
				<div class="content">
					<div class="container">
						<div class="row">
							<div class="soft">
								
								<div class="col-4 col-12-medium">
									<h2>Interfaz de cliente</h2>
									<p>En la interfaz del cliente, los usuarios pueden seleccionar comandos de la base de datos. Tras autenticarse, pasan los comandos al cliente. Para enviar comandos del cliente al servidor, los usuarios se conectan con un nombre de usuario y una contraseña. El servidor procesa estas órdenes utilizando los datos de los sensores y dispositivos de medición conectados. Los resultados se devuelven al servidor y luego al cliente. Este flujo de comunicación se basa en la tecnología Socket.IO para la interacción en tiempo real. Además, existe un servidor paralelo a nivel de cliente.</p>
								</div>
								
							</div>
						</div>
					</div>
				</div>
						
				</section>

				<!-- Three -->
				
			<!-- Four -->
				
				
			<!-- Footer -->
				<footer id="footer">
					<ul class="copyright">
						<li>&copy; SkyNova. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</footer>
		</div>

		<!-- Scripts -->
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.dropotron.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/util.js') }}"></script>
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>

	</body>
</html>