<!DOCTYPE HTML>
<html>
	<head>
		<title> SkyNova Project </title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<link rel="icon" href="{{ url_for('static', filename='images/DroneIcon.png') }}">			
		<link rel="stylesheet" type="text/css "href="{{ url_for('static', filename='css/mainE.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='css/noscript.css') }}" /></noscript>
	</head>
	<body class="is-preload landing">
		<div id="page-wrapper">
			<header id="header">
				<h1 id="logo"><a href="/index">SkyNova</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/contacts">Contacts</a></li>						
						<li class="hov"><a>Learn more</a>
							<ul>
								<li><a href="/benefits">Benefits</a></li>	
								<li><a href="/hiw">Script</a></li>
								<li><a href="/software">Software</a></li>	
								<li><a href="/models">Models</a></li>								
							</ul>
						</li>
						
						<li class="hov"><a>Language</a>
							<ul>
								<li><a href="/software"><img src="{{ url_for('static', filename='images/country_flag/union-jack-1027898_640.png') }}" class="photos" alt="flag"> English</a></li>
								<li><a href="/softwarePL"><img src="{{ url_for('static', filename='images/country_flag/poland-26125_640.png') }}" class="photos" alt="flag"> Polski</a></li>
								<li><a href="/softwareES"><img src="{{ url_for('static', filename='images/country_flag/spain-28530_640.png') }}" class="photos"alt="flag2"> Español</a></li>
							</ul>
						</li>
					</ul>
				</nav>
			</p>
			</header>
		
				<section id="banner">
					<div class="content">
						<header>
							<h2>Software</h2>
							<p>How does it look from the back side?</p>
						</header>
						
					</div>
					<a href="#one" class="goto-next scrolly">Next</a>
				</section>

			<!-- One -->
			<section id="one" class="spotlight style1 bottom">
					
				<span class="image fit main"><img src="{{ url_for('static', filename='images/kod.jpg') }}" alt="" /></span>
				<div class="content">
					<div class="container">
						<div class="row">
							<div class="soft">
								
								<div class="col-4 col-12-medium">
									<h2>Server structure</h2>
									<p>The server, implemented on a microcomputer or microcontroller, supports platforms like Raspberry Pi, Arduino, and other Socket.IO-compatible devices. Its structure relies on the server.py file, which acts as the central link to the database. Additionally, client.py, a Flask application, integrates with the database to create a dedicated client page using Flask and the template engine. This process enables clients to view the page by sharing a local server via the ngrok application.</p>
								</div>
								
							</div>
							
						</div>
					</div>
				</div>
				<a href="#two" class="goto-next scrolly">Next</a>
			</section>

			<!-- Two -->
				<section id="two" class="spotlight style1 bottom">
					<span class="image fit main"><img src="{{ url_for('static', filename='images/kod.jpg') }}" alt="" /></span>
				<div class="content">
					<div class="container">
						<div class="row">
							<div class="soft">
								
								<div class="col-4 col-12-medium">
									<h2>Clients interface</h2>
									<p>On the client interface, users can select commands from the database. After authentication, they pass commands to the client. To send commands from the client to the server, users log in with a login and password. The server processes these commands using data from connected sensors and measuring devices. Results are sent back to the server and then to the client. This communication flow relies on Socket.IO technology for real-time interaction. Additionally, there exists a parallel server at the client level.</p>
								</div>
								
							</div>
						</div>
					</div>
				</div>
						
				</section>

				<!-- Three -->
				
			<!-- Four -->
				
				
			<!-- Footer -->
			<footer id="footer">
                <ul class="copyright">  
                    <li>&copy; <a href="/hiw">How it works?</a></li><li><a href="/software">Software</a></li><li><a href="/models">Models</a></li><br><br>
                    <li>&copy; <a href="/benefits">Benefits</a></li><li><a href="/contacts">Contacts</a></li><br><br>
                    <li>&copy; SkyNova. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                </ul>
            </footer>
		</div>

		<!-- Scripts -->
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.dropotron.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/browser.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/breakpoints.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/util.js') }}"></script>
		<script src="{{ url_for('static', filename='js/main.js') }}"></script>

	</body>
</html>